[user]
	name = Alice Ellmer
	email = alice.ellmer@gmail.com
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[master]
	autosetuprebase = always
[push]
	default = simple
[merge]
	conflictstyle = diff3
[alias]
	pl = pull ffonly
[branch]
	autosetuprebase = always
[url "sso://user/alicemaindi/"]
	insteadof = me:
[diff]
  tool = meld
[merge]
  tool = meld
[alias]
  meld = !/usr/local/google/home/alicemaindi/bin/git-meld
	l = log --pretty=format:'%C(yellow)%h%C(white) %an <%ae> %>|(80)%ai%Creset%n%C(bold)%w(0,4,4)%s%C(reset)%n%+b'
	ll = log --stat
	lg = log
	lp = log -p
